Repository clambin/vpnmon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

flake8:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install flake8
  script:
  - flake8 --max-line-length 120 *.py src/*.py

pytest:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install pipenv
  - pipenv install --dev
  script:
  - pipenv check
  - proxy --port 8888 &
  - PROXY_PID=$!
  - cd tests && pipenv run pytest --cov --junitxml=report.xml
  - pipenv run bash <(curl -s https://codecov.io/bash) -s tests
  - kill $PROXY_PID
  ...

sast:
  stage: unittest
  image: python:3.7
  before_script:
  - pip install bandit
  script:
  - bandit -r src/*.py

build_amd64:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

build_arm:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

test_amd64:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - shared
  before_script:
  ...

test_arm:
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_CERT_PATH: /certs/client
    DOCKER_CLI_EXPERIMENTAL: enabled
  tags:
  - docker
  - arm
  - rpi
  before_script:
  ...

gitlab-ci
  .gitlab-ci.yml
  Pipfile
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

gitlab-ci
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

gitlab-ci integration
  .gitlab-ci.yml
  src/vpnmon.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

added unittests
  src/openvpn.py
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

gitlab-ci templates + QA before docker build
  .gitlab-ci.yml
  Dockerfile.arm
  src/version.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

gitlab-ci templates + QA before docker build
  .gitlab-ci.yml
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

embed proxy for unittests
  Pipfile
  Pipfile.lock
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

embed proxy for unittests
  .gitlab-ci.yml
  Pipfile
  Pipfile.lock
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

embed proxy for unittests
  tests/test_openvpn.py
Due: flake8, pytest, sast

embed proxy for unittests
  .gitlab-ci.yml
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

temp. run as root (debug)
  Dockerfile.arm
Due: build_amd64, build_arm, test_amd64, test_arm

proxy.py 2.2 + python 3.8
  Dockerfile
  Dockerfile.arm
  Pipfile
  Pipfile.lock
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

python 3.8
  .gitlab-ci.yml
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

python 3.8
  tests/test_openvpn.py
Due: flake8, pytest, sast

k3s deployment
  .gitlab-ci.yml
  manifests/deployment.yml.template
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

k3s deployment
  manifests/deployment.yml.template
Due: none

v0.3
  .gitlab-ci.yml
  src/version.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

v0.3
  .gitlab-ci.yml
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

python 3.9
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  Pipfile
  Pipfile.lock
  manifests/deployment.yml.template
  src/openvpn.py
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

python 3.9
  .gitlab-ci.yml
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

github actions
  .github/workflows/workflow.yml
  .gitlab-ci.yml-disable
  Pipfile
  Pipfile.lock
  manifests/vpnmon-deployment.yml
  src/openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

github actions
  Dockerfile
Due: build_amd64, build_arm, test_amd64, test_arm

fix: proxy ignored
  src/openvpn.py
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

pimetrics 4.0
  Pipfile
  Pipfile.lock
  src/configuration.py
  src/openvpn.py
  tests/test_configuration.py
  tests/test_openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

pimetrics 0.4.0
  manifests/vpnmon-deployment.yml
Due: none

pimetrics 0.4.0
  src/vpnmon.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

pimetrics 0.4.0
  tests/test_vpnmon.py
Due: flake8, pytest, sast

latest github actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake.yml
  .github/workflows/release.yml
  .github/workflows/sast.yml
  .github/workflows/test.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  tests/test_configuration.py
  tests/test_openvpn.py
  tests/test_vpnmon.py
  vpnmon.py
  vpnmon/__init__.py
  vpnmon/configuration.py
  vpnmon/openvpn.py
  vpnmon/version.py
  vpnmon/vpnmon.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

latest github actions
  Dockerfile
Due: build_amd64, build_arm, test_amd64, test_arm

1.0
  vpnmon/version.py
Due: none

Fix crash if ipinfo.io returns an error
  .github/workflows/release.yml
  Pipfile
  Pipfile.lock
  vpnmon/openvpn.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

Fix crash if ipinfo.io returns an error
  .github/workflows/build.yml
Due: none

ported to golang
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake.yml
  .github/workflows/release.yml
  .github/workflows/sast.yml
  .github/workflows/test.yml
  .gitignore
  .gitlab-ci.yml-disable
  Dockerfile
  Pipfile
  Pipfile.lock
  build/Dockerfile
  cmd/vpnmon/vpnmon.go
  deployment/vpnmon-deployment.yml
  go.mod
  internal/bandwidth/probe.go
  internal/bandwidth/probe_test.go
  internal/connectivity/apiclient.go
  internal/connectivity/probe.go
  internal/connectivity/probe_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/version/version.go
  manifests/deployment.yml.template
  tests/__init__.py
  tests/client.status
  tests/test_configuration.py
  tests/test_openvpn.py
  tests/test_vpnmon.py
  vpnmon.py
Due: flake8, pytest, sast, build_amd64, build_arm, test_amd64, test_arm

Path conditions:
  flake8: any of: *.py, src/*.py, tests/*.py, Pipfile*, .gitlab-ci.yml
  pytest: any of: *.py, src/*.py, tests/*.py, Pipfile*, .gitlab-ci.yml
  sast: any of: *.py, src/*.py, tests/*.py, Pipfile*, .gitlab-ci.yml
  build_amd64: any of: *.py, src/*.py, Pipfile*, Dockerfile*, .gitlab-ci.yml
  build_arm: any of: *.py, src/*.py, Pipfile*, Dockerfile*, .gitlab-ci.yml
  test_amd64: any of: *.py, src/*.py, Pipfile*, Dockerfile*, .gitlab-ci.yml
  test_arm: any of: *.py, src/*.py, Pipfile*, Dockerfile*, .gitlab-ci.yml
